*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 500,700,800;
}


body{
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100svh;
    gap: 2rem;

}
main{
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 35rem;
}
.leftSide{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    border-radius: 20px;
    padding: 30px;
    color: white;


}
.rightSide{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

#result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(hsl(256, 72%, 46%, 1),hsl(241, 72%, 46%, 0)) ;
    border-radius: 50%;
    margin: 20px 0 20px 0;
    padding: 40px 50px 40px 50px;
}

.leftSide h1 {
    color: hsl(221, 100%, 96%);
    font-size: 17px;
    font-weight: 500;
}

.leftSide h2 {
    font-size: 60px;
}

.leftSide h3{
    font-size: 24px;
    margin: 10px;
}

#text{
    text-align: center;
    color:  hsl(221, 100%, 96%);
    font-size: 14px;
    padding: 0 10px 0 10px;
    margin: 0 0 30px 0;
}

.rightSide h1{
    padding: 10px; 
    font-size: 17px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}
.rightSide h2{
    font-size: 15px;
    margin: 0 5px 0 5px;
}

#reaction{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(0, 100%, 95%);
    border-radius: 10px;
    padding: 10px;
}
#reaction h2{
    color: hsl(0, 100%, 67%);
}

.rightSide p{
    margin-left: auto;
    color: hsl(224, 30%, 27%);
}

#memory{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(39, 100%, 95%);
    border-radius: 10px;
    padding: 10px;
}
#memory h2 {
    color: hsl(39, 100%, 56%);
}

#verbal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(166, 100%, 95%);
    border-radius: 10px;
    padding: 10px;
}

#verbal h2 {
    color: hsl(166, 100%, 37%);
}

#visual{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(234, 85%, 95%);
    border-radius: 10px;
    padding: 10px;
}
#visual h2{
    color: hsl(234, 85%, 45%);
}

.rightSide h3 {
    text-align: center;
    background-color:hsl(224, 30%, 27%);
    border-radius: 200px;
    padding: 10px 0 10px 0;
    color: white;
    font-size: 14px;
    margin: 20px 0 20px 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }